[submodule "external/SciPP"]
	path = external/SciPP
	url = https://github.com/Reiex/SciPP.git
	branch = master
[submodule "external/Diskon"]
	path = external/Diskon
	url = https://github.com/Reiex/Diskon.git
	branch = master
[submodule "external/PortAudio"]
	path = external/PortAudio
	url = https://github.com/PortAudio/portaudio.git
	branch = master
[submodule "external/Ruc"]
	path = external/Ruc
	url = https://github.com/Reiex/Ruc.git
	branch = master
